# services:
#   db:
#     image: postgres:latest
#     hostname: localhost
#     ports:
#       - "5432:5432"
#     environment:
#       - POSTGRES_PASSWORD=${DB_PASSWORD}
#       - POSTGRES_USER=${DB_USER}
#       - POSTGRES_DB=${DB_NAME}
#     volumes:
#       - pgdata:/var/lib/postgresql/data
#     healthcheck:
#       test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
#       interval: 10s
#       timeout: 5s
#       retries: 5

#   frontend:
#     build:
#       context: .
#       dockerfile: Dockerfile
#     ports:
#       - "3001:3000"
#     environment:
#       - NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
#       - CLERK_SECRET_KEY=${CLERK_SECRET_KEY}
#       - CLERK_WEBHOOK_SECRET=${CLERK_WEBHOOK_SECRET}
#       - NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
#       - NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
#       - NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
#       - NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
#       - ARCJET_KEY=${ARCJET_KEY}
#       - NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY=${NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY}
#       - FLUTTERWAVE_SECRET_KEY=${FLUTTERWAVE_SECRET_KEY}
#       - FLUTTERWAVE_WEBHOOK_SECRET=${FLUTTERWAVE_WEBHOOK_SECRET}
#       - NEXT_PUBLIC_SERVER_URL=http://localhost:3000
#       - DB_HOST=db
#       - DB_PASSWORD=${DB_PASSWORD}
#       - DB_USER=${DB_USER}
#       - DB_NAME=${DB_NAME}
#     depends_on:
#       db:
#         condition: service_healthy
#     volumes:
#       - .:/app
#       - /app/node_modules
#     command: sh -c "sleep 5 && npm run db:migrate && npm run dev"

# volumes:
#   pgdata:

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    environment:
      - NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
      - CLERK_SECRET_KEY=${CLERK_SECRET_KEY}
      - CLERK_WEBHOOK_SECRET=${CLERK_WEBHOOK_SECRET}
      - NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
      - NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
      - NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
      - NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
      - ARCJET_KEY=${ARCJET_KEY}
      - NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY=${NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY}
      - FLUTTERWAVE_SECRET_KEY=${FLUTTERWAVE_SECRET_KEY}
      - FLUTTERWAVE_WEBHOOK_SECRET=${FLUTTERWAVE_WEBHOOK_SECRET}
      - NEXT_PUBLIC_SERVER_URL=http://localhost:3000
      - DATABASE_URL=${DATABASE_URL}
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "sleep 5 && npm run db:migrate && npm run dev"